.modal {
    display: block;
    min-width: 200px;
    min-height: 200px;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: var(--primary-color);
}

.unactive {
    display: none;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modalContent {
    padding: 10px;
}